 
        <fieldset>
          <h2 class="fs-title">¿Cuál de los siguientes bienes patrimoniales conoce ?</h2>
          <p>{{bienes.opciones[0].name}}</p>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res1" ng-click="poll.res22[0].res1 = 1" type="radio" name="preg221" id="ch15" value= "1" />
                  <label for="ch15">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSi&nbsp&nbsp</label>
              </div>
          </div>
          <br>
           <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res1" ng-click="poll.res22[0].res1 = 0" type="radio" name="preg221" id="ch16" value= "0" />
                  <label for="ch16">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <div ng-show="poll.res22[0].res1">
            <h2 class="fs-title">¿Cuántas veces, el año 2016, ha visitado {{bienes.opciones[0].name}} ?</h2>
          <input ng-model="poll.res23[0].res1" type="number" value="0">
          </div>
          <p>{{bienes.opciones[1].name}}</p>
          
          
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res2" ng-click="poll.res22[0].res2 = 1" type="radio" name="preg222" id="ch17" value= "1" />
                  <label for="ch17">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSi&nbsp&nbsp</label>
              </div>
          </div>
          <br>
           <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res2" ng-click="poll.res22[0].res2 = 0" type="radio" name="preg222" id="ch18" value= "0" />
                  <label for="ch18">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <div ng-show="poll.res22[0].res2">
            <h2 class="fs-title">¿Cuántas veces, el año 2016, ha visitado {{bienes.opciones[1].name}} ?</h2>
          <input ng-model="poll.res23[0].res2" type="number" value="0">
          </div>


          <p>{{bienes.opciones[2].name}}</p>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res3" ng-click="poll.res22[0].res3 = 1" type="radio" name="preg223" id="ch19" value= "1" />
                  <label for="ch19">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSi&nbsp&nbsp</label>
              </div>
          </div>
          <br>
           <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res3" ng-click="poll.res22[0].res3 = 0" type="radio" name="preg223" id="ch20" value= "0" />
                  <label for="ch20">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo&nbsp&nbsp</label>
              </div>
          </div>
          <br>

          <div ng-show="poll.res22[0].res3">
            <h2 class="fs-title">¿Cuántas veces, el año 2016, ha visitado {{bienes.opciones[2].name}} ?</h2>
          <input ng-model="poll.res23[0].res3" type="number" value="0">
          </div>

          <p>{{bienes.opciones[3].name}}</p>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res4" ng-click="poll.res22[0].res4 = 1" type="radio" name="preg224" id="ch21" value= "1" />
                  <label for="ch21">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSi&nbsp&nbsp</label>
              </div>
          </div>
          <br>
           <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res4" ng-click="poll.res22[0].res4 = 0" type="radio" name="preg224" id="ch22" value= "0" />
                  <label for="ch22">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo&nbsp&nbsp</label>
              </div>
          </div>
          <br>

          <div ng-show="poll.res22[0].res4">
            <h2 class="fs-title">¿Cuántas veces, el año 2016, ha visitado {{bienes.opciones[3].name}} ?</h2>
          <input ng-model="poll.res23[0].res4" type="number" value="0">
          </div>

          <p>{{bienes.opciones[4].name}}</p>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res5" ng-click="poll.res22[0].res5 = 1" type="radio" name="preg225" id="ch23" value= "1" />
                  <label for="ch23">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSi&nbsp&nbsp</label>
              </div>
          </div>
          <br>
           <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res5"  ng-click="poll.res22[0].res5 = 0" type="radio" name="preg225" id="ch24" value= "0" />
                  <label for="ch24">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <div ng-show="poll.res22[0].res5">
            <h2 class="fs-title">¿Cuántas veces, el año 2016, ha visitado {{bienes.opciones[4].name}} ?</h2>
          <input ng-model="poll.res23[0].res5" type="number" value="0">
          </div>

          <p>{{bienes.opciones[5].name}}</p>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res6" ng-click="poll.res22[0].res6 = 1" type="radio" name="preg226" id="ch25" value= "1" />
                  <label for="ch25">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSi&nbsp&nbsp</label>
              </div>
          </div>
          <br>
           <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res22[0].res6" ng-click="poll.res22[0].res6 = 0" type="radio" name="preg226" id="ch26" value= "0" />
                  <label for="ch26">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <div ng-show="poll.res22[0].res6">
            <h2 class="fs-title">¿Cuántas veces, el año 2016, ha visitado {{bienes.opciones[5].name}} ?</h2>
          <input ng-model="poll.res23[0].res6" type="number" value="0">
          </div>

          <p>Otro</p>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-click="poll.res22[0].res7 = 1" ng-model="poll.res22[0].res7" type="radio" name="preg227" id="ch27" value= "1" />
                  <label for="ch27">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSi&nbsp&nbsp</label>
              </div>
          </div>
          <br>
           <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-click="poll.res22[0].res7 = 0" ng-model="poll.res22[0].res7" type="radio" name="preg227" id="ch28" value= "0" />
                  <label for="ch28">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <input ng-show="poll.res22[0].res7" ng-model="poll.res22[0].otro" type="text" placeholder="Bien Patrimonial"/>
           <div ng-show="poll.res22[0].res7">
            <h2 class="fs-title">¿Cuántas veces, el año 2016, ha visitado {{poll.res22[0].otro}} ?</h2>
            <input ng-model="poll.res23[0].otro" type="number" value="0">
          </div>


          <div  ng-show="poll.res22[0].res1 || poll.res22[0].res2 || poll.res22[0].res3 || poll.res22[0].res4 || poll.res22[0].res5 || poll.res22[0].res6 || poll.res22[0].res7">
           <h2 class="fs-title">¿Por qué razón visitó los bienes ?</h2>
          <p>{{bienes.opciones[0].name}}</p>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res24"  type="radio" name="preg24" id="ch29" value= "1" />
                  <label for="ch29">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTurismo&nbsp&nbsp</label>
              </div>
          </div>
          <br>
           <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res24" type="radio" name="preg24" id="ch31" value= "2" />
                  <label for="ch31">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Educativa&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res24" type="radio" name="preg24" id="ch32" value= "3" />
                  <label for="ch32">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCelebración&nbsp&nbsp</label>
              </div>
          </div>
          <br>
           <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-model="poll.res24" type="radio" name="preg24" id="ch33" value= "4" />
                  <label for="ch33">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSanación&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-click="poll.res24 = 9" ng-model="poll.res24" type="radio" name="preg24" id="ch34" value= "9" />
                  <label for="ch34">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOtro&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <input ng-show= "poll.res24 == 9 " ng-model="poll.res24" type="text" placeholder="Especifique"/>
          
           </div>
          <div ng-show="!poll.res22[0].res1 && !poll.res22[0].res2 && !poll.res22[0].res3 && !poll.res22[0].res4 && !poll.res22[0].res5 && !poll.res22[0].res6 && !poll.res22[0].res7">
         
            <h2 class="fs-title">¿Por qué no visitó ?</h2>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input ng-click="poll.res25 = 9" ng-model="poll.res25" type="radio" name="preg25" id="ch35" value= "1" />
                  <label for="ch35">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo conoce&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input  ng-model="poll.res25" type="radio" name="preg25" id="ch36" value= "2" />
                  <label for="ch36">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo hay informacion&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input  ng-model="poll.res25" type="radio" name="preg25" id="ch37" value= "3" />
                  <label for="ch37">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNo hay medios para llegar&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <br>
          <div class="funkyradio">
              <div class="funkyradio-success">
                  <input  ng-model="poll.res25" type="radio" name="preg25" id="ch38" value= "4" />
                  <label for="ch38">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOtrohay medios para llegar&nbsp&nbsp</label>
              </div>
          </div>
          <br>
            <div class="funkyradio">
              <div class="funkyradio-success">
                  <input  ng-click="poll.res25 == 9" ng-model="poll.res25" type="radio" name="preg25" id="ch39" value= "9" />
                  <label for="ch39">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOtro&nbsp&nbsp</label>
              </div>
          </div>
          <br>
          <input ng-show= "poll.res25 == 9 " ng-model="poll.res25" type="text" placeholder="Especifique"/>
          </div>

          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

-->